/dev/null                 0666   root       root
/dev/zero                 0666   root       root
/dev/full                 0666   root       root
/dev/ptmx                 0666   root       root
/dev/tty                  0666   root       root
/dev/random               0666   root       root
/dev/urandom              0666   root       root
/dev/ashmem               0666   root       root
/dev/binder               0666   root       root

# logger should be world writable (for logging) but not readable
/dev/log                0662   root       log

# the DIAG device node is world writable/readable.
/dev/diag                 0666   root       root

# gpu driver for adreno200 is globally accessible
/dev/kgsl-3d0             0666   root       root
/dev/kgsl-2d0             0666   root       root
/dev/kgsl-2d1             0666   root       root

# these should not be world writable
/dev/android_adb          0660   adb        adb
/dev/android_adb_enable   0660   adb        adb
/dev/ttyHS0               0600   bluetooth  bluetooth
/dev/uinput               0660   system     bluetooth
/dev/alarm                0664   system     radio
/dev/tty0                 0660   root       system
# MODEL_K4
/dev/graphics           0666   root       graphics
# MODEL_K4
/dev/msm_rotator           0666   system     graphics
/dev/input              0660   root       input
/dev/pmem                 0660   system     graphics
/dev/pmem_audio           0660   system     audio
# MODEL_K4
#/dev/pmem_adsp*           0660   system     audio
/dev/pmem_adsp*           0666   system     audio
/dev/pmem_smipool*        0660   system     camera
/dev/oncrpc             0660   root       qcom_oncrpc
/dev/snd*                0666   system     audio
/dev/msm_camera         0660   system     system

/dev/bma150               0660   compass    system

/dev/i2c-2                0664   root       system
/dev/i2c-4                0664   root       system
/dev/msm_pcm_out*         0666   system     audio
/dev/msm_pcm_in*          0660   system     audio
/dev/msm_acdb             0660   system     audio
/dev/msm_pcm_lp_dec       0660   system     audio
/dev/smd0                 0640   radio      radio
/dev/smd7                 0640   radio      radio
/dev/smdcntl0             0640   radio      radio
/dev/smdcntl1             0640   radio      radio
/dev/smdcntl2             0640   radio      radio
/dev/smdcntl3             0640   radio      radio
/dev/smdcntl4             0640   radio      radio
/dev/smdcntl5             0640   radio      radio
/dev/smdcntl6             0640   radio      radio
/dev/smdcntl7             0640   radio      radio
/dev/gemini0              0660   system     system

# CDMA radio interface MUX
/dev/ppp                  0660   radio      vpn

# sysfs properties
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input
#permissions for video
/dev/msm_vidc_reg         0660  system       audio
/dev/msm_vidc_dec         0660  system       audio
/dev/msm_vidc_enc         0660  system       audio
#permissions for audio
/dev/msm_amrnb            0660  system       audio
/dev/msm_aac_in           0660  system       audio
/dev/msm_fm               0660  system       audio
/dev/msm_acdb             0660  system       audio
/dev/msm_wma              0660  system       audio
/dev/msm_wmapro           0660  system       audio
/dev/msm_qcelp_in         0660  system       audio
/dev/msm_evrc_in          0660  system       audio
/dev/msm_amrnb_in         0640  system       audio
/sys/devices/virtual/usb_composite   enable      0664  root   system

# MODEL_K4
/dev/tdmb                 0666  root         root
/dev/tsif0                 0666  root         root
/dev/yda158               0666  system       audio
/dev/ams0303              0660  system       root
/dev/apds9900             0660  system       root
/dev/bq27505              0666  system       root
/dev/pn544                0666  radio        system
/dev/mpu                  0666  root         root
/dev/mpuirq               0666  root         root
/dev/timerirq             0666  root         root
/dev/oncrpc/3000006b:00010000 0666 root  qcom_oncrpc
/dev/block/mmcblk0p19 0660 system   system
/dev/block/mmcblk0p1 0640 root   system
/dev/block/mmcblk0p2 0640 root   system
/dev/block/mmcblk0p3 0640 root   system
/dev/block/mmcblk0p5 0640 root   system
/dev/block/mmcblk0p6 0640 root   system
/dev/block/mmcblk0p7 0640 root   system
/dev/block/mmcblk0p8 0640 root   system
/dev/block/mmcblk0p9 0640 root   system
/dev/block/mmcblk0p16 0640 root   system
/dev/block/mmcblk0p20 0660 root   system
# MODEL_K4_END
